
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-tumblr:before { content: '\f174'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
