/*Custom styles here*/
.grid_experiencias{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
}

.grid_experiencias__card{
    width: 95%;
    height: 100%;
}

@media screen and (max-width:768px) {
    .grid_experiencias{
        grid-template-columns: 100%
    }
}

/*LAnding page empresas*/

    #landing_header{
        background-image: url('/static/assets/images/p1.png');
        background-size: cover;
        height: 60vh;
        display: flex;
        justify-content: end;
        align-items: flex-end;
    }
    
    .rounded{
        border-radius: 20px !important;
    }

    #acercade{
        width: 50%;
    }

    @media screen and (max-width:768px) {
        #acercade{
            width: 100%;
        }
    }
/*LAnding page empresas*/