.cart{
    object-fit: cover;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 991px) {
    .cart{
        margin-top: 20%;
    }
    .footer__asociacion  h5{
        text-align: center;
    }
}

footer{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between ;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 768px) {
    footer{
        flex-direction: column;
    }
}

.footer__redes{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer__redes-item{
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.footer__asociacion{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer__avisos{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.footer__avisos  a{
    text-decoration: none;

}