<footer>
    <div class="footer__redes">
        <p>Síguenos</p>
        <div class="footer__redes-container">
            <a href=""><img class="footer__redes-item" src="/static/assets/images/turistas/icons8_Instagram_100px.png" alt=""></a>
            <a href=""><img class="footer__redes-item" src="/static/assets/images/turistas/icons8_facebook_100px.png" alt=""></a>
            <a href=""><img class="footer__redes-item" src="/static/assets/images/turistas/icons8_tumblr_100px.png" alt=""></a>
            <a href=""><img class="footer__redes-item" src="/static/assets/images/turistas/icons8_YouTube_100px.png" alt=""></a>
        </div>
        <p>Contáctanos experiencias.michoacan@outlook.com</p>
    </div>
    <div class="footer__asociacion">
        <h5>Asociación de turismo de Morelia</h5>
        <p>Experiencias Michoacán</p>
    </div>
    <div class="footer__avisos">
        <a href="">Aviso de privacidad</a>
        <a href="">Términos y condiciones</a>
    </div>

</footer>