{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed {% endblock body_class %} 

{% block content %}  
<section id="Empresas">
  <div class="container p-3">
    <div class="d-flex justify-content-end m-2">
      <a class="btn btn-primary" href="{% url 'register' %}">Registrar Empresa</a>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Empresas registradas</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-responsive-xl">
          <thead>
            <tr>
              <th scope="col" style="width: 10px">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Ciudad</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>  
              {% for empresa in empresas %} 
              <tr>
                <th scope="row">{{empresa.id}}</th>
                <td>{{empresa}}</td>
                <td>{{empresa.direccion.ciudad}}</td>  
                <td>
                  <div class="container">
                    <a class="btn btn-danger" href="{% url 'asociacion_empresas_delete' empresa.id %}">Eliminar</a>
                    <a class="btn btn-warning"  href="{% url 'asociacion_empresas_edit' empresa.id %}">Editar</a>
                  </div>
                </td>
              </tr>  
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
