{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed {% endblock body_class %} 

{% block content %}  

{% if success %}
<div class="modal fade show" id="modal-success" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-success">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">Empresa eliminada con éxito</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{msg}}</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-light">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endif %}

<section id="Empresas">
  <div class="container p-3">
    <div class="d-flex justify-content-end m-2">
      <a class="btn btn-primary" href="{% url 'register' %}">Registrar Empresa</a>
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Empresas registradas</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-responsive-xl">
          <thead>
            <tr>
              <th scope="col" style="width: 10px">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Ciudad</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>  
              {% for empresa in empresas %} 
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{empresa}}</td>
                <td>{{empresa.direccion.ciudad}}</td>  
                <td>
                  <div class="container">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger-{{empresa.id}}">
                      Eliminar
                    </button>
                    <a class="btn btn-warning"  href="{% url 'edit_empresa' empresa.id %}">Editar</a>
                  </div>
                </td>
              </tr>

              <div class="modal fade" id="modal-danger-{{empresa.id}}" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content bg-danger">
                    <div class="modal-header">
                      <h4 class="modal-title">¿Está seguro que desea eliminar la cuenta {{empresa.nombre_legal}}?</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Esta acción no se puede deshacer</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                      <button type="button" class="btn btn-outline-light" data-dismiss="modal">Regresar</button>
                      <a class="btn btn-danger" href="{% url 'delete_empresa' empresa.id %}">Eliminar</a>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>

              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
