<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Carrito</title>
    <script src="js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
   <link href="css/fontello.css" rel="stylesheet"/>
  <style type="text/css"> 
a { text-decoration: none; 
    color: black;} 
 
</style> 
  </head>
  <body>
           

  
  <div style="margin-left: 10pt;">

<font size="5" color="#E0E0E0" class="text-muted m-0"> Carrito</font></div>



<font size="2" color="#000000" ><strong>

  
<div style="margin-left: 30pt;">
<nav class="navbar  navbar-expand-lg  p-top-3" > 
  


<!-- Encabezado -->

	<div class="container p-0">

  <div style="margin-right: 30pt;">
<img src="img/logo.jpg" alt="" width="105" height="48" class = "navbar-nav ml-auto "></div></div>

  <header class="header">
		<div class="container">
		<div class="btn-menu">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mx-auto"></div>
          <ul class="navbar-nav">
          <div style="margin-right: 30pt;">
            <li class="nav-item">
			<nav class="menu">
             <a  class="icon"  href="avisos.php">Avisos</a> </li>   </div>
             <div style="margin-right: 30pt;">
			  <li class="nav-item">
			  <nav class="menu">
			 <a class="icon" class="nav-link text-white" href="materias.php">Materias</a></li></div>
			 
			 <div style="margin-right: 30pt;">
	  		<li  class="nav-item">
			  <nav class="menu">
			<a class="icon" class="nav-link text-white" href="infoalumno2.php">Perfil</a></li></div>
			<div style="margin-right: 30pt;">
	  		<li class="nav-item">
			  <nav class="menu">
			 <a class="icon" class="nav-link text-white"  href="index.php">Inicio</a></li></div>
       <div style="margin-right: 30pt;">
	  		<li class="nav-item">
			  <nav class="menu">
        <img src="img/CARRITO.png"  alt="" width="23" height="32"></li></div>
			
			  </nav></nav></nav></nav>
			</li>
          </ul>
        </div></div></div></font>


    </nav>
</strong></div>




<div class="card border ">
  <div class="card-body bg-dark"><font size="2" color="#FFFFFF">

  

  <div class="container table-responsive w-10 h-100"   >
  <div class="row">
 
  <div class="col-md-3">Articulo</div>
  <div class="col-md-5 mx-auto">Descrpción</div>
 
  <div class="col-md-2">      Precio</div>
  <div class="col-md-2">Total</div>


</div>

</div></div></div>



</font>
  </div>
</div>



  <!--Area de pruebaa-->
  <div style="margin-right: 10pt;">



  <div style="margin-left: 10pt;">



    <!--Tabla de carta-->
                                    <div class="table-responsive bg-light">
  
  <table style="margin-top: auto;" class="table">
      <!--1 C--> 
  <tr>

<!-------------------------------------------------------------------------------------------------1C O L U M NA---->
<td class="w-100" style="margin-top: 4pt;">
 





<div style="margin-left: 10pt;">
<div class="row g-0 bg-light position-relative">
  <div class="rounded col-md-2 mb-md-0 p-0 md-2">
  <br><br> <img src="img/P-AZUL.jpg" class="w-100 rounded" alt="...">
  </div>
  <div class="col-md-9 mx-auto p-4 ps-md-3">

  <div class="h-auto   ">
  <div class="w-auto   ">

<strong><div width="790" height="380" >Playa Azul</div></strong>

Playa Azul es una localidad mexicana del municipio de Lázaro Cárdenas, en el estado de Michoacán. Prevalecen en esta población costera actividades económicas como la pesca, la agricultura, la ganadería y el turismo.
</div></div>

  </div>
</div>
</div> 







<div style="margin-left: 10pt;">
<div class="row g-0 bg-light position-relative">
  <div class="rounded col-md-2 mb-md-0 p-0 md-2">
  <br><br> <img src="img/CAMECUARO.jpg" class="w-100 rounded" alt="...">
  </div>
  <div class="col-md-9 mx-auto p-4 ps-md-4">

  <div class="h-auto   ">
  <div class="w-auto   ">

<strong><div width="790" height="380" >Parque Nacional Lago de Camécuaro</div></strong>
El Parque Nacional Lago de Camécuaro se ubica en la Ciudad de Tangancícuaro de Arista en el estado de Michoacán. El parque consta de 9,65 hectáreas de área protegida incluyendo el lago Camécuaro el cual se abastece por una serie de manantiales naturales.
</div></div>

  </div>
</div>
</div> 


<div style="margin-left: 10pt;">
<div class="row g-0 bg-light position-relative">
  <div class="rounded col-md-2 mb-md-0 p-0 md-2">
  <br><br> <img src="img/PATZCUARO.jpg" class="w-100 rounded" alt="...">
  </div>
  <div class="col-md-9 mx-auto p-4 ps-md-3">

  <div class="h-auto   ">
  <div class="w-auto   ">

<strong><div width="790" height="380" >El lago de Pátzcuaro</div></strong>
El lago de Pátzcuaro es un lago del estado de Michoacán, México, ubicado a 63 km al oeste de la ciudad de Morelia. La principal vía de acceso es por la carretera 14 que parte de la capital del estado. 
</div></div>

  </div>
</div>
</div> 


<div style="margin-left: 10pt;">
<div class="row g-0 bg-light position-relative">
  <div class="rounded col-md-2 mb-md-0 p-0 md-2">
  <br><br> <img src="img/PARICUTIN.jpg" class="w-100 rounded" alt="...">
  </div>
  <div class="col-md-9 mx-auto p-4 ps-md-3">

  <div class="h-auto   ">
  <div class="w-auto   ">

<strong><div width="790" height="380" >Volcan Paricutin</div></strong>
Es un volcán inactivo situado en el estado de Michoacán, México, entre el ex poblado de San Juan Parangaricutiro y el poblado de Angahuan. Surgido en el año de 1943, en su momento ostentó el título del volcán más joven del mundo.</div></div>

  </div>
</div>
</div> 






</td>
<!--------------------------------------------------------- 2 c--------------------------------------------------------------->



<td >




<div style="margin-top: auto;">
<table data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">



       <div style="margin-top: 57pt;">        <tr class="mx-auto w-100">
<a href="#">


    <img src="img/BASURA.png"  class="rounded " alt="" width="25" height="29"></a>
</div>


    
</tr></div>


<div style="margin-top: 65pt;">
<br><br>
            <tr class="w-98"> 
   <a href="#"> <img src="img/BASURA.png"  class="roundeds" alt="" width="25" height="29"></a>
</div>
</tr>
<br><br>
<div style="margin-top: 105pt;">
            <tr class="w-100">

 <a href="#">
            <img src="img/BASURA.png" class="img-responsive rounded" alt="" width="25" height="29"></a>
</tr></div>
<br><br> <div style="margin-top: 100pt;">
            <tr class="w-100">
<a href="#">
            <img src="img/BASURA.png"  class="rounded" alt="" width="25" height="29"></div>
</a>
</tr>






    </div>
    </div>
    </table>
</td> 



<!-----------------------------------------------3C------------------------------------------------------------------------>

<td >




<div style="margin-top: auto;">
<table data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">



       <div style="margin-top: 57pt;">        <tr class="mx-auto w-100">
<a href="#">


   <h9 class="w-30 p-3">$280</h9></a></div>


    
</tr></div>


<div style="margin-top: 65pt;">
<br><br>
            <tr class="w-100"> 
   <a href="#">  <h9 class="w-30 p-3">$280</h9></a>
</div>
</tr>
<br><br>
<div style="margin-top: 105pt;">
            <tr class="w-100">

 <a href="#">
 <h9 class="w-30 p-3">$280</h9></a>
</tr></div>
<br><br> <div style="margin-top: 100pt;">
            <tr class="w-100">
<a href="#">
<h9 class="w-30 p-3">$280</h9></div>
</a>
</tr>






</div>
</div>
</table>
</td> 





<!-- 3 c-->

 <td>




<div  class="card-borderless text-end  "  class="rounded-top" style="width: 17rem;">
  <div class="rounded card-body bg-dark" >
      

  <font size="2" color="#FFFFFF"> <strong><center>
  <div class="row align-items-start" class="rounded-top">
      <div class="col" >
         Total de articulos:
      </div>
      <div class="col">
      columna2:
      </div>
</div>
<div class="row align-items-start" class="rounded-top">
      <div class="col">
      IVA:
      </div>
      <div class="col">
         Column 2
      </div>
</div>
<hr>
<div class="row align-items-start" class="rounded-top">
      <div class="col">
         Toal de IVA:
      </div>
      <div class="col">
         Column 2
      </div>
</div>

   </div>
  </div>
</div>
</font></strong></center>
      </div>



      <br>

<div  class="card-borderless text-end  "  class="rounded-top" style="width: 17rem;">
  <div class="rounded card-body bg-dark" >
      

  <font size="2" color="#FFFFFF"> <strong><center>
  <div class="row align-items-start" class="rounded-top">
      <div class="col" >
         Nombre:
      </div>
      <div class="col">
      columna2:
      </div>
</div><br>
<div class="row align-items-start" class="rounded-top">
      <div class="col">
      Correo:
      </div>
      <div class="col">
         Column 2
      </div>
</div>
<hr>
<div class="row align-items-start" class="rounded-top">
      <div class="col">
         Dirección:
      </div>
      <div class="col">
         Column 2
      </div>
</div>

   </div>
  </div>
</div>
</font></strong></center>
      </div>


   
  <div style="margin-top: 10pt;">
<center> 
  <button href="#" style="width: auto;" class="btn btn-primary  btn-pill">Proceder a pago</button>

</center>

</td>
                </div>
</div>
</tr>
</table>
</div>







</div></div>














<!-- Footer -->
<footer class="text-center"  style="background-color:#FFFFFF;" >



<div class="container">
  <div class="row">
    <div class="col-sm">
    <font size="2"><strong>
Siguenos<br></strong>
    <tr> <td    width="15" height="15">
       <a href="#"><img src="img/instagram.png"    alt="" width="17" height="17"></a></td>
      <td width="30" height="30"><a href="#"><img src="img/facebook.png"  alt="" width="17" height="17"></a></td>
      <td width="30" height="30"><a href="#"><img src="img/tumblr.png"  alt="" width="17" height="17"></a></td>
      <td width="15" height="15"><a href="#" ><img src="img/youtube.png"  alt="" width="18" height="18"></a></td></tr><br>
      Contactanos:<br>
    experiencias.miachoacan@outlock.com </font>


<br>
<br>
    </div>
    <div class="col-sm"><br>
    <font size="2"><strong>
     Asosciación de turismo de Morelia.<br>
     Experiencias Michoacán.</strong></font>
    </div>
    <div class="col-sm">
    <font size="2"><center>
  Aviso de privacidad</center>
<strong>

      Términos y condiciones.</strong></font>
    </div>
  </div>
</div>

</footer>
<!-- Footer -->
  </body>
</html>