{% extends "layouts/base.html" %}

{% block title %} Experiencias {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed {% endblock body_class %} 

{% block content %}  
    <div class="container">
        <div class="row">
            {% for experiencia in experiencias  %}
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="{{experiencia.imagen_set.all.0.image.url}}" class="card-img-top" alt="{{experiencia.imagen_set.all.0.image}}">
                        <div class="card-body">
                          <h5 class="card-title">{{experiencia.nombre}}</h5>
                          <p class="card-text">{{experiencia.descripcion}}</p>
                          <a href="{% url 'experiencias-edit' experiencia.id %}" class="btn btn-secondary">Editar</a>
                          <a href="{% url 'experiencias-delete' experiencia.id %}" class="btn btn-danger">Eliminar</a>
                        </div>
                      </div>
                </div>
              {% empty %}
                <h3>No hay experiencias registradas</h3>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
