{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed {% endblock body_class %} 

{% block content %}  

<div class="container-fluid">

    <div class="login-logo">
      <p> {% if accion == 'register' %}
            Registrar
            {% else %}
            Editar
          {% endif %} <b>Paquete</b></p>
    </div>   

    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Presione <a href="{% url 'experiencias-empresas' %}">aquí</a> para regresar a la página de inicio</p>        

        <p class="login-box-msg">
            {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
            {% else %}
            <span>
                Ingrese los datos del paquete
            </span>
            {% endif %}
        </p>

        <form role="form" method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}

            <div class="d-flex flex-wrap justify-content-center p-3" style="gap:10%">
                <!--Datos del producto-->
                <div>
                    
                    <h3>Datos del paquete</h3>
                    <hr>
                    
                    <div class="input-group mb-3">
                        {{ paquete_form.nombre}}
                        <div class="input-group-append">
                        <div class="input-group-text">
                        </div>
                        </div>
                    </div>
                    <span class="text-error">{{ paquete_form.nombre.errors }}</span>

                    <div class="input-group mb-3 w-50">
                        {{ paquete_form.precio }}
                        <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-dollar-sign"></span>
                        </div>
                        </div>
                    </div>
                    <span class="text-error">{{ paquete_form.precio.errors }}</span>
                    
                    <div class="d-flex flex-wrap">
                        <div class="input-group mb-3 w-50">
                            {{ paquete_form.fecha_inicio }}
                            <div class="input-group-append">
                            <div class="input-group-text">
                            </div>
                            </div>
                        </div>
                        <span class="text-error">{{ paquete_form.fecha_inicio.errors }}</span>
                    
                        <div class="input-group mb-3 w-50">
                            {{ paquete_form.fecha_fin }}
                            <div class="input-group-append">
                            <div class="input-group-text">
                            </div>
                            </div>
                        </div>
                        <span class="text-error">{{ paquete_form.fecha_fin.errors }}</span>
                        
                    </div>

                    <div class="input-group mb-3">
                        {{ paquete_form.stock }}
                        <div class="input-group-append">
                        <div class="input-group-text">
                        </div>
                        </div>
                    </div>
                    <span class="text-error">{{ paquete_form.stock.errors }}</span>
                    
                    <div class="input-group mb-3">
                        {{ paquete_form.producto }}
                        <div class="input-group-append">
                        <div class="input-group-text">
                        </div>
                        </div>
                    </div>
                    <span class="text-error">{{ paquete_form.producto.errors }}</span>
                    <div class="d-flex justify-content-end">
                    
              <!--     {% if accion != "register" %}
                    <h3>Imágenes actuales</h3>
                    <hr>
                    <div class="d-flex flex-wrap">
                        {% for img in imagenes  %}
                        <div class="card" style="width: 200px;">
                            <img src="{{img.image.url}}" class="card-img-top" alt="{{img.image.url}}">
                            <div class="card-body grid_experiencias__card">
                                <a  href="{% url 'experiencias_img-delete' img.id %}" class="btn btn-danger">Eliminar</a>
                            </div>
                        </div>
                        {%empty%}
                        <p>El producto no tiene fotos</p>
                        {% endfor %}  
                    </div>
                        
                    {% endif %}
                    <h3>Agregar imágenes</h3>
                    <hr>
                    <input type="file" class="form-control mb-3" multiple name="imagenes" id="imgs"> -->

                    <div class="d-flex justify-content-end">
                        <button type="submit" 
                        {% if accion == "register" %}
                            name="paquetes-create" 
                            {% else %}
                            name="paquetes-edit"
                        {% endif %}
                        class="btn btn-primary btn-block">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
        <br />
        <div class="text-center">
            &copy; Asociación de turismo de Michoacán
        </div>

      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
    
  </div>

{% endblock content %}
